
/*primary color*/
.bg-cream {
    background-color: #ffffff;
}

/*font*/
body {
    font-family: 'Poppins', sans-serif;
}

.bg-yellow-500 {
    background-color: #F9A825;
}

.bg-black-500 {
    background-color: #000000;
}
.text-yellow-500 {
    color: #F9A825;
}
.text-black-500{
background-color: #000000;
}
.floating { 
    animation-name: floating; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;
} 
.slider-container {
    background-color: #EEF4ED;
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    margin-top: 100px;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.img {
    flex: 0 0 auto;
    scroll-snap-align: start;
    margin-right: 10px;
    max-width: 100%;
    height: auto;
}


/*Containerv2*/
.containerv2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.containerv2  .box {
    width: 200px;
    height: 250px;
    margin: 20px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.containerv2  .box:hover {
    transform: translateY(-10px);
}

.containerv2  .box-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.containerv2  .box-description {
    margin-top: 10px;
}


@media screen and (max-width: 768px) {
    .slider {
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 576px) {
    .slider {
        flex-direction: column;
        align-items: center;
    }
}

.video {
    text-align: center;
    width: 100%;
}

.video-container iframe {
    max-width: 100%;
    width: 560px;
    height: 315px;
}

@media (max-width: 768px) {
    .video-container iframe {
        width: 100%;
        height: auto;
    }
}
